# Python
__pycache__/
*.pyc
venv/
env/
.venv/



.env
/env
venv/
node_modules/
dist/
__pycache__/
*.pyc
db.json
# Node
node_modules/
dist/
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database files
db.json